setuptools
numpy>=1.23,<1.26
pandas==1.5.3
pydantic>=1.10.5,<2.0
scikit-learn==1.2.2
strictyaml
ruamel.yaml
feature-engine==1.6.2
joblib==1.2.0
xgboost==1.7.6
gensim==4.3.2
rdkit-pypi==2022.9.5
mol2vec @ git+https://github.com/jaimergp/mol2vec.git
